body {
  font-size: 14px;
  line-height:24px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow"
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow";
  margin-top: 60px;
}
h3 {
  font-size: 14px;
  line-height: 18px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow"
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}

.main-navigation {
  float: left;
  width: 780px;

}
.user-block {
  float: right;
  width: 140px;

}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  /* Только для оформления сетки */
  min-height: 175px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 60px;
}

.filtres {
  float: left;
  width: 220px;
  padding-left: 10px;
  margin-right: 10px;


  /* Только для оформления сетки */
  height: 592px;
}

.items {
  width: 700px;

  display:inline-block;
  margin-bottom: 50px;
  font-size: 0px;

    /* Только для оформления сетки */
  height: 592px;
}

.item-tile {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  font-size: 14px;
}

.items :nth-child(3) {
  margin-right: 0px;
}

.items :nth-child(6) {
  margin-right: 0px;
}

.pages-nav {
  display: block;
  font-size: 14px;
}

.item-images {
  float: left;
  height: 460px;
  padding-left: 10px;
  /* Только для оформления сетки */
  height: 670px;

}

.item-info {
  float: right;
  width: 390px;
  /* Только для оформления сетки */
  height: 670px;

}
.item-details {
  margin-bottom: 42px;
}


.item-avalability {
  float: left;
  width: 90px;
}

.item-articul {
  float: right;
  width: 125px;
}

.item-description,
.buy-item {
  margin-bottom: 42px;
}


.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.catalog {
  margin-top: 50px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}
