body {
  font-size: 14px;
  line-height:24px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow"
}
body {
  background: #000000 url("../img/barbershop-shop-grid.jpg") no-repeat 50% 3px;
  background-size: 1122px auto;
}


h1 {
  font-size: 30px;
  line-height: 42px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow";
  margin-top: 60px;
}
h3 {
  font-size: 14px;
  line-height: 18px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow"
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 780px;
  background-color: blue;
}
.user-block {
  float: right;
  width: 140px;
  background-color: yellow;
}
.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 60px;
}

.filtres {
  float: left;
  width: 220px;
  padding-left: 10px;
  background-color: green;

  /* Только для оформления сетки */
  height: 592px;
}
.items {
  width: 700px;
  background-color: grey;
  float: left;
  margin-bottom: 50px;

    /* Только для оформления сетки */
    height: 592px;
}

.item-tile {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.items :nth-child(3) {
  margin-right: 0px;
}

.items :nth-child(6) {
  margin-right: 0px;
}

.pages-nav {
  float: left;
}


.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: yellow;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}
